body {
    background-color: purple;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

p {
    color: white;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    margin: 20px;
}

#empower {
    width: 750px;
    height: auto;
}

#intern {
    width: 200px;
    height: auto;
}