body {
    background-color: lightblue;
}

h1 {
    color: navy;
    text-align: center;
}

p {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

#empower {
    width: 750px;
    height: auto;
}

#intern {
    width: 200px;
    height: auto;
}